@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #153677, #4e085f);
    color: #333;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 12px;
}

button {
    border: none;
    outline: none;
    padding: 15px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #555; /* Borda padrão para o ícone não-selecionado */
    background-color: transparent;
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 10px;
}

ul li.checked::before {
    background-color: #4CAF50; /* Cor de fundo quando selecionado */
    border: 2px solid #4CAF50; /* Cor da borda quando selecionado */
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23fff"%3E%3Cpath d="M20.285 6.364L11.714 14.93 6.357 9.573 4.943 10.987l6.771 6.771 9.343-9.343z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

.list-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #002765;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

.titulo-todo-list{
    display: flex;
}